<footer>
    <section>
        <section class="footeritem">
            <p>&#169;Copyright 2023</p>
        </section>
        <section class="footeritem2">
            <p>Bart Spons - BlockTech</p>
        </section>
    </section>
</footer>



</body>

</html>