<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <header>
        <a href="index.html">
            <img src="images/1x/logo.png" alt="logo">
        </a>
    </header>

    <nav>
        <ul>
            <li><a href="index"><img src="images/1x/home2.png" alt="home"></a></li>
            <li><a class="active" href="liked"><img src="images/1x/zoek.png" alt="zoek"></a></li>
            <li><a href="test"><img src="images/1x/match.png" alt="match"></a></li>
            <li><a href="account.html"><img src="images/1x/account.png" alt="account"></a></li>
        </ul>
    </nav>