<%- include("header.ejs")%>
    <h1>Welkom bij mijn voetbal applicatie</h1>

    <h3>quote van de dag (motivatie)</h3>
    <p>
        <%= quotes %>
    </p>

    <button><a href="/liked">Zoek een speler</a></button>

    <%- include("footer.ejs")%>