<%- include("header.ejs")%>
    <main>
        <h1>Welkom bij mijn voetbal applicatie</h1>
        <h2>quote van de dag (motivatie)</h2>
        <!--API-->
        <p>
            <%= quotes %>
        </p>
        <section>
            <button><a href="/add">Voeg een speler toe</a></button>
            <button><a href="/search">Zoek een speler</a></button>
        </section>
    </main>
    <%- include("footer.ejs")%>