<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>test liked</h1>

    <!-- laat het port nummer zien -->


    <ul>
        <% for (let person of people) { %>
            <li>
                <%= person.name %> is <%= person.age %> jaar oud!
            </li>
            <% } %>
    </ul>

</body>

</html>