<%- include ('header.ejs') %>

    <main>
        <h1>Zoek jouw ideale speler!</h1>

        <button id="show-data-btn">Laat alles zien</button>
        <select id="positie-filters">
            <option value="aanvaller">Aanvaller</option>
            <option value="verdediger">Verdediger</option>
            <option value="middenvelder">Middenvelder</option>
            <option value="keeper">Doelman</option>
        </select>

        <ul id="people-list">

        </ul>

        <%- include ('footer.ejs') %>
            <script src="../scripts/script.js"></script>