<%- include ('header.ejs') %>
    <main>
        <!-- De span is gaat uit als javascript wordt uitgezet (progressive enhancement) -->
        <!--h1 is de titel-->
        <h1>Zoek je <span id="changeMe">ideale</span> speler!</h1>
        <!-- Filter toevoegen -->
        <p>Gebruik de filter hieronder</p>
        <form action="/search" method="post">
            <select name="positie">
                <option value="aanvaller">Aanvaller</option>
                <option value="verdediger">Verdediger</option>
                <option value="middenvelder">Middenvelder</option>
                <option value="keeper">Keeper</option>
            </select>
            <!-- gaat spelers zoeken -->
            <input type="submit" value="Zoek" />
        </form>
        <!-- Gevens uit database zichtbaar maken -->
        <ul id="people-list">
            <% for (let person of people) { %>
                <li>
                    <%= person.naam %> is <%= person.positie %>
                </li>
                <% } %>
        </ul>
    </main>
    <script src="../scripts/script.js"></script>
    <%- include ('footer.ejs') %>