<%- include ('header.ejs') %>

    <main>
        <h1>Zoek je <span id="changeMe">ideale</span> speler!</h1>
        <!-- form aangemaakt -->
        <p>Gebruik de filter hieronder</p>
        <form action="/search" method="post">
            <select name="positie">
                <option value="aanvaller">Aanvaller</option>
                <option value="verdediger">Verdediger</option>
                <option value="middenvelder">Middenvelder</option>
                <option value="keeper">Keeper</option>
            </select>
            <!-- gaat spelers zoeken -->
            <input type="submit" value="Zoek" />
        </form>

        <ul id="people-list">
            <% for (let person of people) { %>
                <li>
                    <%= person.naam %> is <%= person.positie %>!
                </li>
                <% } %>
        </ul>





    </main>



    <%- include ('footer.ejs') %>
        <script src="../scripts/script.js"></script>