/* Ordening is chronologisch */
/* Verzameling van alle kleuren */
:root {
  --main-bg-color: #f7f1e3;
  --main-title-color: ;
  --main-button-color: #d1c3a2;
  --main-button-bg: #fff;
  --main-button-border: 2px solid #f7f1e3;
  --nav-bg-color: dimgrey;
  --nav-li-hover: #1B816A;
  --nav-active: #1B816A;
  --main-a: #1B816A;
  --main-h1: #1B816A;
  --button-submit: #1B816A;
  --footer-bg: #1B816A;
}

/* Algemeen */
body{
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

/* Start header */
header img{
    width: 100%;
}

/* Start nav */
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--nav-bg-color);
  flex: 1 1 0px;
  margin-bottom: revert;
  margin-top: -0.3em;
}
  
/* vier keer een li in blokjes, allemaal 25% */
nav li{
  width: 25%;
}  

/* style for the nav bar list item */
nav li a {
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* afbeeldingen in nav */
nav ul li a img{
  height: 2em;
}
  
/* Als je hovert over de li, dan krijgt deze een donkere kleur */
nav li a:hover:not(.active) {
  background-color: var(--nav-li-hover);
}
  
/* De huidige pagina waar de gebruiker zich bevind, de li is groen */
.active {
  background-color: var(--nav-active);
  margin-top: 1px;
}

/* Start main */
/* Gebruikt op de index.ejs */
button{
  margin: .5em;
  padding: .7em;
  font-weight: bold;
  color: var(--main-button-color);
  background-color: var(--main-button-bg);
  border: var(--main-button-border);
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  transition: .3s;
  align-self: end;
}

form{
  text-align: center;
}

a{
  color: var(--main-a);
  text-decoration:none;
}

main section{
  display:flex; 
  justify-content:center;
}

main img{
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

/* Styling for the text */
/* Titel */
h1{
  text-align: center;
  padding: 0.5em;
  font-family: Avenir black;
  font-size: 1.8em;
  color: var(--main-h1);
}
  
/* styling voor de headers */
h2,h3,h4,h5{
  text-align: center;
  font-family: Avenir black;
}  

/* styling for p */
p{
  text-align: center;
  margin-top: 0.5em;
  font-family: Avenir;
}
  
/* give all a items a font */
a{
  font-family: Monaco;
}

main a{
  display: flex;
  justify-content: center; 
  align-items: center;
}

/* style the input field */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2em;
}

.form label {
  margin: 1em 0 1em 0;
}

.form input,
.form select {
  padding: 10px;
  border: none;
  border-radius: 1em;
  margin-bottom: 2em;
  width: 80%; /* set width to 80% */
  box-sizing: border-box;
  display: block; /* display the element as a block element */
  margin: 0 auto; /* center the element using margin */
}

#addPlayerButton {
  background-color: var(--button-submit);
  color: white;
  padding: 1em;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  margin-top: 2em;
}

/* Start footer */
footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--footer-bg);
  color: white;
  text-align: center;
  margin-top: 19em;
}

footer p{
  margin: 0.5em;
}

footer section{
  display: flex;
}

.footeritem{
  width: 50%;
}

.footeritem2{
  width: 50%;
  justify-content: right;
}
